
/* Root correspond au css de la scene */
.root{
    -fx-background-color: #1E1E1E;
}

/* BorderPane */
.borderPane{
    -fx-background-color: #1E1E1E;

}

/* paneScores ("pane" sur le TetrisIHM) */
.paneScores{
    -fx-background-color: #1E1E1E;
}
