
/* Root correspond au css de la scene */
.root{
    -fx-background-color: black ;
}

/* BorderPane Left */
.leftPane{
    -fx-background-color: transparent;
}

/* BorderPane Center */

.centerPane{
    -fx-background-color: transparent;
}

/* BorderPane Right */
.rightPane{
    -fx-background-color: transparent;
}

/* Boutton Start */

.bouttonStart{
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    -fx-border-color: #e3e3e3;
}