/* BorderPane Left */
.leftPane {
    -fx-background-color: transparent;
}

/* BorderPane Center */
.centerPane {
    -fx-background-color: transparent;
}

/* BorderPane Right */
.rightPane {
    -fx-background-color: transparent;
}

/* CSS de VueMenuPrincipal */

.textFieldNomJoueur {
    -fx-background-color: black;
    -fx-highlight-text-fill: white;
    -fx-text-fill: white;
    -fx-max-width: 150;
}

.bouton {
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    -fx-border-color: #e3e3e3;
    -fx-text-fill: white;
    -fx-background-color: black;
    /*font family*/
}
.bouton:hover {
    -fx-background-color: rgb(15,15,15);
}

/*Pour modifier individuellement un bouton utilisez #nomBouton*/

.vBoxBouton {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.vBoxCompte {
    -fx-pref-height: 200px;
    -fx-pref-width: 200px;
}

/* CSS de Helper BarreNavigation */

.barre-navigation {
    -fx-alignment: center-left;
    -fx-padding: 50px;
}

.bouton-clair {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-padding: 0 20px;
}

.titre {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-padding: 0 20px;
    -fx-alignment: center;
}

/* CSS de Helper BoiteCombinee */

.boite-combinee {
    -fx-background-color: black;
    -fx-background-radius: 2px;
}

.boite-combinee:disabled {
    -fx-opacity: .4;
}

.boite-combinee .list-cell{
    -fx-background-color: black;
    -fx-text-fill: silver;
}

.combo-box-popup .list-view{
    -fx-background-color: black;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: rgb(20, 20, 20);
}
.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: rgb(20, 20, 20);
    -fx-text-fill: white;
}
.combo-box .scroll-bar {
    -fx-background-color: black;
    -fx-color: rgb(20, 20, 20);
}

.combo-box .scroll-bar:vertical *.increment-button,
.combo-box .scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.combo-box .scroll-bar:vertical *.increment-arrow,
.combo-box .scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-shape: null;
}

/* CSS de Helper PanelPersonnaliser */

.panel-personnalisation {
    -fx-background-color: black;
    -fx-padding: 5px 20px;
    -fx-alignment: center;
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-border-style: solid;
}

.titre-panel-personnalisation {
    -fx-text-fill: white;
}

.gauche, .droite {
    -fx-padding: 20px;
    -fx-background-color: black;
}

/* CSS vuePersonnaliser*/
.personnalisations {
    -fx-alignment: center;
    -fx-padding: 10px 100px;
}

.stylePiece {
    -fx-alignment: center;
}


/* CSS VueCompteDeconnecté */

.option {
    -fx-alignment: center;
    -fx-spacing: 100;
}

.titreConnexion {
    -fx-text-fill: white;
}

.titreCreation {
    -fx-text-fill: white;
}

.champsConnexion {
    -fx-spacing: 20;
}

.champsCreation {
    -fx-spacing: 20;
}

/*Vue Jeu (TetrisIHM)*/
.panel-partie {
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-background-color: black;
    -fx-padding: 10px;
}
